body {
    background-color: #ffccd5;
    text-align: center;
    font-family: Trebuchet MS, sans-serif;
}
h1 {
    color: #d63384;
}
.container {
    margin-top: 50px;
}
.button-container {
    margin-top: 20px;
}
button {
    font-size: 20px;
    padding: 10px 20px;
    border: background-color;
    cursor: pointer;
    position: absolute;
}
#yesButton {
    background-color: #28a745;
    color: white;
}
#noButton {
    background-color: #dc3545;
    color: white;
}
.hidden {
    display: none;
}
.cute-things img {
    width: 500px;
    margin: 100px;
}
